.markdown-body {
    background-color: transparent !important;
}

.markdown-body pre {
    background-color: #1e1e1e !important;
    border-radius: 0.5rem;
    padding: 1rem !important;
    margin: 1rem 0 !important;
}

.markdown-body code {
    color: #e9ecef !important;
    background-color: #1e1e1e !important;
    padding: 0.2em 0.4em !important;
    border-radius: 0.25rem !important;
    font-size: 0.9em !important;
}

.markdown-body pre code {
    padding: 0 !important;
    font-size: 0.9em !important;
    line-height: 1.5 !important;
}
